<header class="flex justify-between items-center p-4">
  <img src="assets/logo.png" alt="Logo" class="h-10">

  <div class="hidden md:flex space-x-6 items-center">
    <div>
      <input type="text" placeholder="Search" class="px-4 py-2 border-b-2 border-gray-400 text-gray-800 focus:outline-none focus:border-gray-600"/>
    </div>  
    <nav class="flex space-x-10">
      <a href="#" class="hover:text-gray-400">Home</a>
      <a href="#" class="hover:text-gray-400">Pages</a>
      <a href="#" class="hover:text-gray-500">Insurances</a>
      <a href="#" class="hover:text-gray-400">Blogs</a>
      <a href="#" class="hover:text-gray-400">Contact Us</a>
    </nav>
  </div>

  <div class="flex items-center space-x-10">
    <span class="hidden md:block"><i class="fa-solid fa-phone"></i> +(111) 65 458 856</span>
    <button class="px-5 py-2 bg-green-700 text-white rounded-md hover:bg-green-500">
      <i class="fa-solid fa-pen"></i>  Get a Quote
    </button>
  </div>

  <!-- Mobile Menu Icon -->
  <button class="block md:hidden focus:outline-none">
    <i class="fa-solid fa-bars"></i>
  </button>
</header>
