<section class="h-screen bg-cover bg-left flex items-center p-5" style="background-image: url('assets/hero-image.png');">
  <div class="inset-0 flex items-center">
    <div class="px-6 lg:px-12 text-left space-y-10 max-w-xl">
      <h1 class="text-4xl lg:text-6xl font-bold">Take The Worry Out Of Life With <span class="text-green-700">Insurance</span> Protection</h1>
      <p class="text-lg lg:text-xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, quae? Nihil, optio. Unde officiis facilis temporibus, aut mollitia iste nesciunt doloribus sunt voluptatum consequuntur laborum. Deleniti nostrum obcaecati cum placeat?
      </p>

      <div class="flex space-x-4 mt-6">
        <button class="px-6 py-3 bg-green-700 text-white font-semibold rounded-lg hover:bg-green-500">
          Get Started
        </button>
        <button class="px-6 py-3 bg-transparent border-2 border-green-700 text-green-700 font-semibold rounded-lg hover:bg-green-200 hover:text-green-500 hover:border-green-500">
          Contact Us
        </button>
      </div>
    </div>
  </div>
</section>
